* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    background-color: #ff8796;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
header {
    background-color: rgba(242,40,90,0.9);
    height: 65px;
    width: 100%;
    font-size: 21px;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: sans-serif;
}
.header-center {
    text-align: center;
    display: block;
}
.header-center h1 {
    margin: 0;
    line-height: 65px;
}

.contents .container{
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
}
.twitter-tweet {
    margin: 10px auto;
}

@media (max-width: 670px) {
  header {
    height: 50px;
    font-size: 14px;
  }
  .contents .container{
      padding-top: 50px;
  }
  .header-center h1 {
      line-height: 50px;
  }
}
